@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Deploy Dot Net core 6 Application on Azure App Service</p>
    <p>Deploy the app using ZIP file.....</p>
</div>
